-   var categories = [
-       {
-           title: "ВОДА & КОФЕ", 
-           items: [{
-               name: "ДЛЯ СЕМЬИ",
-               subTitle: "Бутилированная вода 0,4л – 5л",
-               src: "./static/images/category-carousel/1_1.png"
-           },{
-               name: "ДЛЯ ДЕТЕЙ",
-               subTitle: "Детская вода «Шишкин Лес»",
-               src: "./static/images/category-carousel/1_2.png"
-           },{
-               name: "Кофе",
-               subTitle: "Зерновой кофе",
-               src: "./static/images/category-carousel/1_3.png"
-           }]
-       },{
-           title: "ВОДА & КОФЕ - 2", 
-           items: [{
-               name: "ДЛЯ СПОРТА",
-               subTitle: "Питьевая вода «Шишкин Лес Спорт»",
-               src: "./static/images/category-carousel/2_1.png"
-           },{
-               name: "ГАЗИРОВАННАЯ",
-               subTitle: "Газированная вода «Шишкин Лес»",
-               src: "./static/images/category-carousel/2_2.png"
-           },{
-               name: "МИНЕРАЛЬНАЯ ГАЗИРОВАННАЯ",
-               subTitle: "Минеральная газированная вода «Шишкин Лес»",
-               src: "./static/images/category-carousel/2_3.png"
-           }]
-       },{
-           title: "ВОДА & КОФЕ - 3", 
-           items: [{
-               name: "КУЛЕРНАЯ ВОДА 19Л",
-               subTitle: "Питьевая вода «Шишкин Лес» для вододиспенсеров и помп",
-               src: "./static/images/category-carousel/3_1.png"
-           },{
-               name: "ОБОРУДОВАНИЕ",
-               subTitle: "Кулеры, помпы, кофемашины",
-               src: "./static/images/category-carousel/3_2.png"
-           },{
-               name: "СОПУТСТВУЮЩИЕ ТОВАРЫ",
-               subTitle: "Чай, посуда, стеллажи",
-               src: "./static/images/category-carousel/3_3.png"
-           }]
-       }
-   ];
section.categories.s-pd
    .container.g-tac
        .categories-carousel.js-carousel__categories
            .swiper-container
                .swiper-wrapper
                    each category in categories
                        .swiper-slide
                            .categories-item
                                .section-title=category.title
                                each item in category.items
                                    .categories-item__card
                                        img.categories-item__card--img(src=`${item.src}`, alt=`${item.name}`)
                                        span.categories-item__card--title= item.name
                                        span.categories-item__card--subtitle= item.subTitle
                .swiper-button-prev
                .swiper-button-next
        .categories-buttons
            a.btn(href="#") В каталог
            a.btn.btn-accent(href="#") Вся продукция