-   var about = [
-       {
-           title: "О воде",
-           capture: "Компания «Шишкин Лес» работает с 1998 года. За эти без малого 20 лет мы добились серьезных успехов – стали одной из лидирующих на отечественном рынке компаний по производству питьевой бутилированной воды. Доверие клиентов – наше главное достижение и источник вдохновения в дальнейшей работе.",
-           src: "./static/images/about/1_1.png"
-       },{
-           title: "О кофе",
-           capture: "Уникальный продукт – все смеси разработаны для Вас в итальянской лаборатории кофе ARC. 3 вида кофе на любой вкус удовлетворят даже самых требовательных кофеманов. Средняя степень обжарки зерна раскрывает все его вкусовые качества. Все виды кофе для каждой смеси обжариваются отдельно, что гарантирует равномерность обжарки.",
-           src: "./static/images/about/1_2.png"
-       }
-   ];
section.about.s-bg__blue
    .container
        .about-carousel.js-carousel__about
            .swiper-container
                .swiper-wrapper
                    each item, index in about
                        .swiper-slide.about-item
                            .about-item__col
                                if index == 0
                                    img.about-item__img.bottom(src=`${item.src}`, alt=`${item.title}`)
                                else 
                                    img.about-item__img(src=`${item.src}`, alt=`${item.title}`)
                            .about-item__col
                                .section-title.bd_l=item.title
                                .about-item__capture= item.capture
                                a.btn.btn-accent(href="#") Далее
                .swiper-button-prev
                .swiper-button-next